#image-background{
  y: 25;
  x: 0;
}
#lbl-date {
  font-size: 20;
  text-length: 32;
  text-anchor: end;
  x: 100%-6;
  y: 18;
  fill: white;
}
#lbl-day-week{
  font-size: 20;
  text-length: 10;
  text-anchor: end;
  x: 100%-6;
  y: 37;
  fill: white;
}
#lbl-heart-rate {
  font-size: 20;
  text-length: 32;
  text-anchor: start;
  x: 50%;
  y: 24;
  fill: white;
}

#lbl-battery-level{
  font-size: 20;
  text-length: 32;
  text-anchor: start;
  x: 5;
  y: 24;
  fill: white;
}

#lbl-time {
  font-size: 65;
  text-length: 32;
  text-anchor: end;
  x: 100%-30;
  y: 37%;
  fill: white;
}
#lbl-seconds {
  font-size: 20;
  text-length: 10;
  text-anchor: end;
  x: 100%-5;
  y: 37%-30;
  fill: white;
}
#am-pm {
  font-size: 18;
  text-length: 4;
  text-anchor: end;
  x: 100%-5;
  y: 37%;
  fill: white;
}

#steps {
  transform: translate(2,100%-20);
}
#activeMinutes {
  transform: translate(50%+5,100%-20);
}
#steps {  
  fill: gold;
}
#activeMinutes {
  fill: lightseagreen;
}
.progress {
  x:26;
  y:14;
  height: 5;
  width: 10;
}

.bg {
  x:26;
  y:16;
  height: 1;
  width: 44%-24;
}

.tgt-no {
  cx: 44%+5;
  cy: 16;
  r: 4;
}

.tgt-yes {
  cx: 44%+5;
  cy: 16;
  r: 8; 
  display: none;
}

.icon {
  width: 20;
  height: 20;
  x:0;
  y:0;
}

.bar-icon {
  width: 30;
  height: 30;
  x:0;
  y:0;
}
.count {
  font-size: 20;
  x: 26;
  y: 10;
  text-length: 30; 
  font-family: Fabrikat-Bold;
}
